/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/product/[id]/product.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
/* src/app/product/[id]/product.module.css */
.product_container__8ftIo {
    padding: 20px 40px;
    background-color: #fff;
}

.product_productName__cre3S {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product_productDescription__9UnqZ {
    font-size: 16px;
    color: #888;
    margin-bottom: 20px;
}

.product_productDetail__ATrX5 {
    display: flex;
    gap: 40px;
}

.product_imageContainer__qNWKJ {
    flex: 1;
}

.product_details__rYswU {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product_detailsTitle__n7n8U {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product_ml__7sULO {
    font-size: 14px;
    margin-bottom: 20px;
}

.product_keywords__CRkHS {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.product_keyword__tJL_m {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
}

.product_options__CfHX_ {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.product_quantityInput__9WNaV {
    width: 60px;
    padding: 5px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.product_checkbox__r79o1 {
    margin-left: 10px;
}

.product_purchaseButton__B4IqG {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    align-self: flex-start;
}

