@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255; /* 흰색으로 변경 */
  --background-end-rgb: 255, 255, 255; /* 흰색으로 변경 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb)); /* 단색 배경으로 변경 */
}

.container {
  padding: 10px; /* 여기서 패딩을 조절할 수 있습니다 */
  max-width: 98%; /* 원하는 최대 너비로 설정할 수 있습니다 */
  margin: 0 auto; /* 수평 중앙 정렬을 위해 설정합니다 */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
