/* src/app/products/products.module.css */
.container {
    padding: 20px 40px;
    background-color: #fff;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-right: auto; /* 제목을 왼쪽으로 정렬하기 위해 추가 */
}

.filters {
    display: flex;
    align-items: flex-start; /* 필터 섹션을 중앙 정렬 */
    gap: 20px;
    margin-bottom: 10px;
}

.filter select {
    padding: 10px 35px; /* 필터 박스 크기를 키우기 위해 수정 */
    border: 1px solid #000;
    border-radius: 0;
    font-size: 18px; /* 글씨 크기를 줄이기 위해 수정 */
    margin-right: auto;
    cursor: pointer;
}

.divider {
    border-top: 1px solid #ccc;
    width: 100%;
    margin: 20px 0;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.productList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.productItem {
    width: calc(25% - 20px); /* 기본적으로 한 줄에 4개 */
    box-sizing: border-box;
    border: 1px solid #f0f0f0;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column; /* 자식 요소들을 세로로 정렬 */
    align-items: center; /* 자식 요소들을 중앙 정렬 */
}

.productItem:hover {
    transform: translateY(-5px);
}

.productLink {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.productDetails {
    padding-top: 10px;
}

.productDescription {
    font-size: 15px;
    color: #888;
    margin-bottom: 5px;
}

.productName {
    font-size: 20px;
    font-weight: bold;
}

/* 미디어 쿼리 추가 */
@media (max-width: 1200px) {
    .productItem {
        width: calc(33.33% - 20px); /* 화면 크기가 1200px 이하일 때 한 줄에 3개 */
    }
}

@media (max-width: 900px) {
    .productItem {
        width: calc(50% - 20px); /* 화면 크기가 900px 이하일 때 한 줄에 2개 */
    }
}

@media (max-width: 600px) {
    .productItem {
        width: calc(100% - 20px); /* 화면 크기가 600px 이하일 때 한 줄에 1개 */
    }
}
