/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/cart/cart.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
/* src/app/cart/cart.module.css */
.cart_container__mmZJa {
    padding: 20px 40px;
    background-color: #fff;
}

.cart_title__wnY7m {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cart_cartItems__BCkIF {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart_cartItem__4QN5s {
    display: flex;
    border: 1px solid #f0f0f0;
    padding: 20px;
    background-color: #fff;
    transition: transform 0.2s;
    position: relative;
}

.cart_cartItem__4QN5s:hover {
    transform: translateY(-5px);
}

.cart_cartItemImage__22ZzO {
    width: 100px;
    height: 100px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-right: 20px;
}

.cart_cartItemDetails__8oqhk {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.cart_cartItemName__NhorA {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cart_cartItemOptions__5K412 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.cart_cartItemActions__AOA2R {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    gap: 10px;
}

.cart_quantityInput__fxuTM {
    width: 60px;
    padding: 5px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cart_checkbox__otKpF {
    margin-left: 10px;
}

.cart_saveButton__7jQVA,
.cart_editButton__tvPcv,
.cart_deleteButton__IBm7p {
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px; /* 글씨 크기를 조정 */
    border-radius: 4px; /* 버튼 모서리 둥글게 */
}

.cart_saveButton__7jQVA {
    background-color: #0070f3; /* 저장하기 버튼 색상 */
}

.cart_editButton__tvPcv {
    background-color: #00c853; /* 수정하기 버튼 색상 */
}

.cart_deleteButton__IBm7p {
    background-color: #d32f2f; /* 삭제하기 버튼 색상 */
}

.cart_purchaseAllContainer__Rqobu {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cart_purchaseAllButton__mbXd1 {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

