/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/MainContent/Banner.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.Banner_banner__Smb0_ {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.Banner_slideContainer__6G5Fw {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
}

.Banner_slide__j8_3x {
    
    flex: 0 0 100%;
    height: 100%;
    position: relative;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.Banner_slide__j8_3x.Banner_active__AYn0b {
    opacity: 1;
}

.Banner_prev__cxZo5, .Banner_next__re5md {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.Banner_prev__cxZo5 {
    left: 10px;
}

.Banner_next__re5md {
    right: 10px;
}

.Banner_pausePlay__FnfDR {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.Banner_dots__lVp6L {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 5px;
}

.Banner_dot__VvtLG {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
}

.Banner_activeDot__8Db68 {
    background-color: white;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/MainContent/Products.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
.Products_products__E2S9m {
    display: flex;
    justify-content: space-around;
    padding: 3% 0;
}

.Products_product__AJmUr {
    text-align: center;
    width: 30%;
}

.Products_product__AJmUr img {
    max-width: 100%;
    height: auto;
}

.Products_product__AJmUr h3 {
    margin: 10px 0;
    font-size: 1.2rem;
}

.Products_product__AJmUr p {
    color: #666;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/MainContent/MainContent.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
.MainContent_mainContent__5BUTf {
    width: 100%;
    padding-top:0px;
    margin-top: 0px;
}

